.fundoPreto{
	background-color:#B0C4DE;
	font-style:#3D3D3D;		
}

.font{	font: bold 40px;}

#borda{border-bottom: 1px solid black;}

figure{
	background-color: whitesmoke;
	border: 1px solid black;
	text-align:center;
}

#diferenciais{border-bottom: 1px solid black;}

div{text-align: center;}